[Desktop Entry]
Version=1.0
Name=Crypter
Comment=Crypt/Decrypt folders
Exec=gnome-terminal --full-screen -e "bash -c 'cd /home/morris/git/Crypter; npm install;node app.js;$SHELL'"
Icon=/home/morris/git/Crypter/images/logo.jpg
Terminal=true
Type=Application
Categories=Application;
Name[it_IT]=Crypter
